img.banner{
    border-radius: 7px;
    width: 250px;
    height: 400px;
    box-shadow: 20px 20px 20px 5px rgb(108, 100, 100);
    &:hover{
        transition: 500ms;
        transform:scale(1.1);
    }
}
img#banner{
    position: absolute;
    margin-left: 350px;
    margin-top:20px;
    height:450px;
    width:350px;
}
img#banner_cima{
    position: absolute;
    margin-left: 850px;
    margin-top:20px;
    height:450px;
    width:350px;
}
img#banner_back{
    position: absolute;
    margin-left: 850px;
    margin-top:520px;
    height:450px;
    width:350px;
}
img#banner_verso{
    position: absolute;
    margin-left: 350px;
    margin-top:520px;
    height:450px;
    width:350px;
}
label#price{
    position: absolute;
    margin-left: 250px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
label#name{
    position: absolute;
    margin-left: 0px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
aside#inf{
    position:absolute;
    margin-left:1450px;
    display:block;  
    width:400px;
    height:99%;
    background-color: rgba(255, 254, 254, 0.1);
    border-radius: 10px;
}
p{ 

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding-top: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}