span.spanCad{
    display: none;
    color: darkred;
    margin-left:50px;
}
input#checkPass{
    margin-top: 90px;
    position: absolute;
    margin-left: 50px;
}
label#labelC{
    margin-top: 89px;
    margin-left: 70px;
    position: absolute;
}
button#cCriar{
    color:#000000;
    background-color:#797979;
    border-radius: 7px;
    width: 90px;
    height:30px;
    margin-left: 500px;
    margin-top: 20px;

}
a#aLog{
    position: absolute;
    margin-top: 23px;
    margin-left: 250px;
    text-decoration: none;
    color:#ffffff;
}
span#spanCadNomeExists{
    display: block;
}
span#spanCadErrorEmail{
    display: block;
}
span#spanCadNomeNone{
    display: block;
}
span#spanCadEmailExists{
    display: block;
}
