

button#lEntrar{
    margin-top: 80px;
}
a#aForgotPass{
    position: absolute;
    margin-top: 20px;
    margin-left: 485px;
    text-decoration: none;
    color:#2fc925;
}

a#aRegister{
    position: absolute;
    margin-top: 50px;
    margin-left:220px;
    text-decoration: none;
    color:#2fc925;;
}
span#spanLogPassIn{
    display: block;
    color: #2fc925;;
    margin-left:50px;
}
input#checkPass{
    margin-top: 20px;
    position: absolute;
    margin-left: 50px;
}
label#labelC{
    margin-top: 19px;
    margin-left: 70px;
    position: absolute;
    color:#33da28;
}
button{
  position:flex;
  height:30px;
  width:200px;
  margin-left:230px;
  border-radius:8px;
}