@charset "UTF-8";
body#corpo{
    background-image: url("../img/base2.jpg");
}
div#main{
    margin-top:200px;
    margin-left:620px;
    position:absolute;
    width:600px;
  }
body {
    height: 100vh;
    display: flex;
    font-family: Roboto;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
  * {
    box-sizing: border-box;
  }
  .inpC{
    position:relative;
    margin-top:13px;
    margin-left:35px;
    border-radius:10px;
  }
  .inp {
    font-family:arial sans-serif;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
  }
  .inp .label {
    position: absolute;
    font-size: 16px;
    color: rgb(255 0 0);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }
  .inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0%);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  .inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgb(255 255 255 / 0%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 0.15s ease;
  }
  .inp input:hover {
    transition:1.3s;
    background: rgb(255 255 255 / 84%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  }
  .inp input:not(:-moz-placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .inp input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .inp input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #27ff00;
  }
  .inp input:focus + .label {
    color: #0077FF;
    transform: translate3d(0, -12px, 0) scale(0.75);
  }
  .inp input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
  }
  label#labelC{
    color:#707070;
  }
