input.npType{
    font-family: sans-serif;
    height:30px;
    width: 300px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 7px;
    display: block;
    box-shadow:2px black;
    border: 2px solid darkslateblue;
    
    &:hover{
        transition: 500ms;
        border: 2px solid rgb(252, 189, 255);
        background-color:white;
        &::placeholder{
            color: aliceblue;
        }
    }

    &:focus{
        border: 3px solid  rgb(252, 189, 255);
        transition: 0ms;
        background-color: white;
        &::placeholder{
            color: aliceblue;
        }
    }
}
span.spanNp{
    display: none;
    color: darkred;
    margin-left:50px;
}
input#checkPass{
    margin-top: 90px;
    position: absolute;
    margin-left: 50px;
}
button#npButton{
    margin-top: 60px;
}
label#labelC{
    margin-top: 89px;
    margin-left: 70px;
    position: absolute;
}