img.banner{
    width: 250px;
    height: 400px;
    box-shadow: 30px 30px 30px 5px black;
    &:hover{
        transition: 500ms;
        transform:scale(1.25);
        
    }
}
button#exitBt{
    margin-left: 1800px;

}
img#banner_court{
    position: absolute;
    margin-left: 500px;
    margin-top:50px;
}
img#banner_revolution{
    position:absolute;
    margin-left: 860px;
    margin-top:50px;
}
img#banner_max{
    position:absolute;
    margin-left: 1220px;
    margin-top:50px;
}
img#banner_excee{
    position:absolute;
    margin-left: 500px;
    margin-top: 530px;
}
img#banner_soon{
    position:absolute;
    margin-left: 1220px;
    margin-top: 530px;
}
img#banner_downshifter{
    position:absolute;
    margin-left: 860px;
    margin-top: 530px;
}
label#price{
    position: absolute;
    margin-left: 250px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
label#name{
    position: absolute;
    margin-left: 0px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
aside.info{
    display: none;
    position:absolute;
    margin-left:1520px; 
    width:330px;
    height:99%;
    background-color: rgba(255, 254, 254, 0.1);
    border-radius: 10px;
}
p{ 

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding-top: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}