img.banner{
    width: 250px;
    height: 400px;
    box-shadow: 30px 30px 30px 5px black;
    &:hover{
        transition: 500ms;
        transform:scale(1.25);
        
    }
}
button#exitBt{
    margin-left: 1700px;

}
img#banner_court{
    position: absolute;
    margin-left: 450px;
    margin-top:50px;
}
img#banner_revolution{
    position:absolute;
    margin-left: 850px;
    margin-top:50px;
}
img#banner_max{
    position:absolute;
    margin-left: 1250px;
    margin-top:50px;
}
img#banner_excee{
    position:absolute;
    margin-left: 450px;
    margin-top: 530px;
}
img#banner_soon{
    position:absolute;
    margin-left: 1250px;
    margin-top: 530px;
}
img#banner_downshifter{
    position:absolute;
    margin-left: 850px;
    margin-top: 530px;
}
label#price{
    position: absolute;
    margin-left: 150px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
label#name{
    position: absolute;
    margin-left: 0px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
aside#info_court{
    display: none;
    position:absolute;
    margin-left:1450px; 
    width:400px;
    height:99%;
    background-color: rgba(255, 254, 254, 0.1);
    border-radius: 10px;
}