{%extends "polls/base.html"%}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/cads.css'%}">
<script src="../static/ecommerceApp/javascript/validateCad.js"></script>
<div id="main">
    <h1>Crie sua Conta</h1>
    <form id="formulario" action="{%url 'cad'%}" method="post">
       {% csrf_token %}
       <label class="inp" for="cadNome">
       <input type="text" name="cNome" id= "cadNome" class="inpC"placeholder="Nome" oninput="nameValidate()" onclick="okName()">
       <span class="focus-bg"></span>
       <span for="cadNome"class="spanCad" id="spanCadNome">o nome precisa ter no minimo 3 caracteres</span>
       <span for="cadNome" class="spanCad" id="spanCadNomeExists">{{userValid}}</span>
       <span for="cadNome" class="spanCad" id="spanCadNomeNot">{{notUser}}</span>
    </label>
    <label class="inp" for="cadEmail">
       <input type="Email" name="cEmail" id="cadEmail" class="inpC"placeholder="Email" oninput="emailValidate()" onclick="okEmail()">
       <span class="focus-bg"></span>
       <span for="cadEmail" class="spanCad" id="spanCadEmail">insira um email valido</span>
       <span for="cadEmail" class="spanCad" id="spanCadEmailExists">{{emailValid}}</span>
       <span for="cadEmail" class="spanCad" id="spanCadErrorEmail">{{errorEmail}}</span>
    </label>
       <label class="inp" for="cadSenha">
       <input type="password" name="cSenha" id="cadSenha" class="inpC"placeholder="Senha" oninput="passwordValidate()">
       <span class="focus-bg"></span>
       <span for="cadSenha" class="spanCad" id="spanCadSenha">a senha precisa ter no minimo 8 caracteres</span>
    </label>
       <input type="checkbox" id="checkPass" name="checkP" onchange="passVisiForCad()">
       <label for="checkPass" class="labelCheck" id="labelC">Senha visivel</label>
       <label class="inp" for="cadConfSenha">
       <input type="password" name="cConfSenha" id="cadConfSenha" class="inpC"placeholder="Confirmar Senha" oninput="confPasswordValidate()">
       <span class="focus-bg"></span>
       <span for="cadConfSenha" class="spanCad" id="spanCadConfSenha">as senhas nao coincidem</span>
    </label>
       <a id="aLog" href="{%url 'login' %}">Ja tem uma conta?</a>
       <button type="submit" class="mainButton" id="cCriar">Criar</button>    
</div>
{%endblock%}
</BODY>
</HTML>