{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/court_specs.css'%}">
<img class="banner"id="banner_court"src="{%static 'ecommerceApp/img/court/court.jpg'%}"></img>
<img class="banner"id="banner_court_cima"src="{%static 'ecommerceApp/img/court/courtCima.jpg'%}"></img>
<img class="banner"id="banner_court_verso"src="{%static 'ecommerceApp/img/court/courtBack.jpg'%}"></img>
<img class="banner"id="banner_court_back"src="{%static 'ecommerceApp/img/court/courtVerso.jpg'%}"></img>