{%extends 'polls/baseT.html'%}
{%block baseT%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/baseTenis.css'%}">
    <div>
    <img class="banner"id="banner"src="{%static 'ecommerceApp/img/court/court.jpg'%}"></img>
</div>
    <div>
    <img class="banner"id="banner_cima"src="{%static 'ecommerceApp/img/court/courtCima.jpg'%}"></img>
  
</div>
    <div>
    <img class="banner"id="banner_verso"src="{%static 'ecommerceApp/img/court/courtBack.jpg'%}"></img>
</div>
    <div>
    <img class="banner"id="banner_back"src="{%static 'ecommerceApp/img/court/courtVerso.jpg'%}"></img>
</div>
</div>
<div="info">
<aside id="inf">
    <label id="price">R$390,00</label>
    <label id="name">Court Royale 2</label>
    <p><h1>UM ÍCONE RETRÔ DO TÊNIS.</h1>

        <p>
        O brilho do passado encontra os tempos modernos. O novo Nike Court Royale 2 Next Nature é feito com pelo menos 20% de materiais reciclados por peso. Substituímos o couro de alto impacto por couro sintético para um look moderno, suave e versátil. O grande Swoosh retrô adiciona um apelo vintage.</p>
        
        <h2>
        Benefícios</h2>
        
        <p>A parte de cima em material sintético é macia e combina com tudo.
        A sola em padrão espinha de peixe adiciona tração e durabilidade.
        A boca acolchoada de cano baixo tem um look elegante e confortável.</p>
        
        <h2>Detalhes do produto</h2>
        
        <h2>Palmilha confortável</h2>
        <h2>Cadarços feitos com 100% de poliéster reciclado</h2>

    </p>
</aside>
</div>
{%endblock%}
</BODY>
</HTML>