{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/base_specs.css'%}">
<img class="banner"id="banner"src="{%static 'ecommerceApp/img/downshifter/downshifter.jpg'%}"></img>
<img class="banner"id="banner_cima"src="{%static 'ecommerceApp/img/downshifter/downshifter_cima.jpg'%}"></img>
<img class="banner"id="banner_verso"src="{%static 'ecommerceApp/img/downshifter/downshifter_lado.jpg'%}"></img>
<img class="banner"id="banner_back"src="{%static 'ecommerceApp/img/downshifter/downshifter_back.jpg'%}"></img>