{%extends 'polls/baseT.html'%}
{%block baseT%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/baseTenis.css'%}">
    <div>
    <a href="{%url 'downshifter_specs'%}">
    <img class="banner"id="banner"src="{%static 'ecommerceApp/img/downshifter/downshifter.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'downshifter_specs'%}">
    <img class="banner"id="banner_cima"src="{%static 'ecommerceApp/img/downshifter/downshifter_cima.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'downshifter_specs'%}">
    <img class="banner"id="banner_verso"src="{%static 'ecommerceApp/img/downshifter/downshifter_lado.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'downshifter_specs'%}">
    <img class="banner"id="banner_back"src="{%static 'ecommerceApp/img/downshifter/downshifter_back.jpg'%}"></img>
    </a>
</div>
</div>
<div="info">
<aside id="inf">
    <label id="price">R$349,99</label>
            <label id="name">Downshifter 12 Feminino</label>
            <p><h1>SUA CORRIDA COMEÇA COM UM SUPORTE ESTÁVEL.</h1>
        
                <p>
                    Dê os primeiros passos na jornada de corrida com o Nike Downshifter 12. Ele conta com sustentação ajustada para proporcionar uma passada estável e leve que transita facilmente entre seu treino e seu dia a dia. Esse tênis dá continuidade à nossa jornada pela sustentabilidade em um design feito com pelo menos 20% de conteúdo reciclado por peso. A jornada te espera. Amarre os cadarços e pegue a estrada.</p>
                
                <h2>
                    Fresco, leve, rápido</h2>
                
                <p>A tela em toda a parte de cima proporciona uma sensação leve e ventilada. A tela é posicionada nas principais zonas do antepé com base nas opiniões de corredores, proporcionando frescor onde você mais precisa.</p>
                
                <h2>Amarre os cadarços, aumente o suporte</h2>

                <p>Garanta mais estabilidade com a faixa de ajuste no médio pé. Ela age com os cadarços que, quanto mais justos, mais firmeza proporcionam aos pés. </p>
                
                <h2>Corra com intensidade e maciez</h2>
                <p>A espuma extremamente macia na entressola ajuda a amortecer cada passo. A altura elevada cria uma sensação mais suave durante a corrida.</p>
        
            </p>
</aside>
</div>
{%endblock%}
</BODY>
</HTML>