{%extends 'polls/baseT.html'%}
{%block baseT%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/baseTenis.css'%}">
    <div>
    <img class="banner"id="banner"src="{%static 'ecommerceApp/img/excee/excee.jpg'%}"></img>
</div>
    <div>
    <img class="banner"id="banner_cima"src="{%static 'ecommerceApp/img/excee/excee_cima.jpg'%}"></img>
</div>
    <div>
    <img class="banner"id="banner_verso"src="{%static 'ecommerceApp/img/excee/excee_lado.jpg'%}"></img>
</div>
    <div>
    <img class="banner"id="banner_back"src="{%static 'ecommerceApp/img/excee/excee_back.jpg'%}"></img>
</div>
</div>
<div="info">
<aside id="inf">
    <label id="price">R$399,99</label>
            <label id="name">Air Max Excee Feminino</label>
            <p><h1>DESIGN ICÔNICO COM UM TOQUE MODERNO.</h1>
        
                <p>
                    Inspirado no Nike Air Max 90, o Nike Air Max Excee celebra um clássico com um visual repaginado. O design de linhas alongadas e proporções distorcidas na parte de cima elevam um ícone a um patamar moderno.</p>
                
                <h2>
                    Ar visível</h2>
                
                <p>A unidade Air é visível através de três janelas criando um look atualizado.</p>
                
                <h2>Conforto e leveza</h2>

                <p>A entressola de espuma e a sola com cápsulas de espuma e borracha oferecem conforto e durabilidade com muita leveza.</p>
                
                <h2>Toque moderno</h2>
                <p>As linhas de design alongadas homenageiam o Air Max 90, ao mesmo tempo que o modernizam de forma irreverente.</p>
        
            </p>
</aside>
</div>
{%endblock%}
</BODY>
</HTML>