{%extends "polls/base.html"%}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/log.css'%}">
<div id="main">
    <h1>Login</h1>
<form id="formulario" action="{%url 'log'%}" method="post">
    {%csrf_token%}
    <label for="lNome"class="lLog" id="labelLog">se voce entrou recentemente coloque seu usuario</label>
    <span for="lSenha" name="lInvalid" class="spanLog" id="spanLogIn">{{invalid}}</span>
    <input type="text" name="lNome" id= "logNome" class="logType"placeholder="Nome">
    <button type="submit" class="mainButton" id="lEntrar">Entrar</button>
</form>
</div>
{%endblock%}
</BODY>
</HTML>