{%extends "polls/base.html"%}
{%block base%}
{%load static%}
<div id="main">
    <h1>Faca Login</h1>
    <form id="formulario" action="{%url 'login' %}" method="post">
       {%csrf_token%}
       <input type="text" name="lNome" id="logNome" class="logType" placeholder="Nome" onclick="okPass()">
       <input type="password"name="lSenha" id="logSenha" class="logType" placeholder="Senha" onclick="okPass()">
       <input type="checkbox" id="checkPass" name="checkP" onchange="passVisiForLog()">
       <label for="checkPass" class="labelCheck" id="labelC">Senha visivel</label>
       <span for="lSenha" name="lInvalid" class="spanLog" id="spanLogPassIn">{{invalid}}</span>
       <button type="submit" class="mainButton" id="lEntrar">Entrar</button>
       <a id="aForgotPass" href="">Esqueceu sua senha?<a/>
       <a id="aRegister" href="{%url 'cad'%}">Nao tem uma conta? Registre-se</a>
       </form>
</div>
{%endblock%}
</BODY>
</HTML>