{%extends "polls/base.html"%}
{%block base%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/login.css'%}">
<script src="../static/ecommerceApp/javascript/validateLog.js"></script>
<div id="main">
    <form id="formulario" action="{%url 'login' %}" method="post">
       {%csrf_token%}
       <label class="inp" for="logNome">
       <input type="text" name="lNome" id="logNome" class="inpC" autocomplete="off" placeholder="Nome" onclick="okPass()">
       <span class="focus-bg"></span>
      </label>
      <label class="inp" for="logSenha">
       <input type="password"name="lSenha" id="logSenha" class="inpC" placeholder="Senha"  onclick="okPass()">
       <span class="focus-bg"></span>
      </label>
       <input type="checkbox" id="checkPass" name="checkP" onchange="passVisiForLog()">
       <label for="checkPass" class="labelCheck" id="labelC">Senha visivel</label>
       <span for="lSenha" name="lInvalid" class="spanLog" id="spanLogPassIn">{{invalid}}</span>
       <a id="aForgotPass" href="{%url 'passwordChange'%}">Esqueceu sua senha?</a>
       <a id="aRegister" href="{%url 'cad'%}">Nao tem uma conta? Registre-se</a>
       <button type="submit" class="mainButton" id="lEntrar">Entrar</button>
       
       </form>
</div>
{%endblock%}
</BODY>
</HTML>