{%extends 'polls/baseT.html'%}
{%block baseT%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/baseTenis.css'%}">
    <div>
    <a href="{%url 'max_specs'%}">
    <img class="banner"id="banner"src="{%static 'ecommerceApp/img/max/max.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'max_specs'%}">
    <img class="banner"id="banner_cima"src="{%static 'ecommerceApp/img/max/max_cima.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'max_specs'%}">
    <img class="banner"id="banner_verso"src="{%static 'ecommerceApp/img/max/max_lado.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'max_specs'%}">
    <img class="banner"id="banner_back"src="{%static 'ecommerceApp/img/max/max_back.jpg'%}"></img>
    </a>
</div>
</div>
<div="info">
<aside id="inf">
    <label id="price">R$1299,99</label>
    <label id="name">Air Max Pulse Masculino</label>
    <p>
        <h1>MUITO MAIS QUE UM TENIS DE ACADEMIA.</h1>

        <p>
            Combinando característica urbana com resistência, o Air Max Pulse proporciona um toque underground à icônica linha Air Max. Sua entressola revestida em tecido e elementos selados a vácuo dão destaque à sua natureza urbana. As cores inspiradas no cenário musical grime de Londres conferem resistência nas bordas. O amortecimento Air — atualizado a partir do Air Max 270 que é incrivelmente macio — proporciona conforto confiável, esteja você realizando as tarefas do dia ou aproveitando o clube.</p>
        
        <h2>
            Nova Sensação</h2>
        
        <p>Inserimos um elemento de plástico na unidade Air. Isso significa que mais Air é utilizado a cada passada para uma experiência com máximo amortecimento.</p>
        
        <h2>Não Se Trata de um Tênis de Academia</h2>

        <p>Ele pode parecer um ótimo tênis de academia, mas o design engloba todo um estilo de vida. Use-o com sua melhor roupa e ganhe as ruas.</p>

        <h2>Origem do Nike Air Max</h2>
        <p>O amortecimento Air revolucionário foi introduzido nos calçados Nike em 1978. O Air Max 1 foi lançado com tecnologia Air visível no calcanhar, permitindo aos fãs mais do que apenas a sensação do amortecimento Air. De repente, era possível enxergá-lo. Desde então, a próxima geração de tênis Air Max se tornou um sucesso entre atletas e colecionadores, oferecendo combinações de cores vibrantes e amortecimento leve e confiável.</p>

    </p>
</aside>
</div>
{%endblock%}
</BODY>
</HTML>