{%extends "polls/base.html"%}
{%block base%}
{%load static%}
<script src="{%static 'ecommerceApp/javascript/validateNP.js'%}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/newPassword.css'%}">
<div id="main">
    <h1>Insira sua nova senha</h1>
<form id="formulario" action="{%url 'newPassword'%}" method="POST">
    {% csrf_token %}
    <input type="password" class="npType" id="newPass" placeholder="Insira sua nova senha" name="newPassword" oninput="passwordValidate()">
    <input type="checkbox" id="checkPass" name="checkP" onchange="passVisiForNp()">
    <label for="checkPass" class="labelCheck" id="labelC">Senha visivel</label>
    <span for="newPass" class="spanNp" id="spanNp">a senha precisa ter no minimo 8 caracteres</span>
    <input type="password"class="npType" id="confPass" placeholder="Confirme sua senha" oninput="confPasswordValidate()">
    <span for="newPass" class="spanNp" id="spanNpConf" >as senhas nao coincidem</span>
    <button type="submit" onsubmit="send(); return false"class="mainButton" id="npButton">Enviar</button>
</form>
</div>
{%endblock%}
</BODY>
</HTML>