{%extends "polls/base.html"%}
{%block base%}
{%load static%}
<script src="../static/ecommerceApp/javascript/validatePasswordChange.js"></script>
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/passwordChange.css'%}">
<div id="main">
<h1>Insira seu email para recuperacao</h1>
<form id="formRecPassword" action="{%url 'passwordChange'%}" method="post">
    {%csrf_token%}
    <input type="text" class="recPassword" name="recEmail"id="rEmail" placeholder="Email" oninput="emailValidate()" onclick="okEmail()">
    <span class="spanR" for="rEmail" id="spanREmail">Insira um email valido</span>
    <span class="spanR" for="rEmail" id="spanREmailExists">{{emailInvalid}}</span>
    <button type="submit" onclick="send(); return false" class="mainButton"id="conf">Confirmar</button>
</form>
</div>
{%endblock%}
</BODY>
</HTML>