{%extends 'polls/baseT.html'%}
{%block baseT%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'ecommerceApp/css/baseTenis.css'%}">
    <div>
    <a href="{%url 'revolution_specs'%}">
    <img class="banner"id="banner"src="{%static 'ecommerceApp/img/revolution/revolution.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'revolution_specs'%}">
    <img class="banner"id="banner_cima"src="{%static 'ecommerceApp/img/revolution/revolution_cima.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'revolution_specs'%}">
    <img class="banner"id="banner_verso"src="{%static 'ecommerceApp/img/revolution/revolution_lado.jpg'%}"></img>
    </a>
</div>
    <div>
    <a href="{%url 'revolution_specs'%}">
    <img class="banner"id="banner_back"src="{%static 'ecommerceApp/img/revolution/revolution_back.jpg'%}"></img>
    </a>
</div>
</div>
<div="info">
<aside id="inf">
    <label id="price">R$229,99</label>
            <label id="name">Revolution 6 Masculino</label>
            <p><h1>CONFORTO VERSÁTIL COM AMORTECIMENTO FLEXÍVEL.</h1>
        
                <p>
                    Um brinde aos novos começos entre você e as calçadas. Amarre os cadarços 100% reciclados e defina o ritmo ao começar sua corrida com a sensação de maciez do Nike Revolution 6 Next Nature. Sabemos que o conforto é a chave para uma corrida bem-sucedida, então adicionamos amortecimento e flexibilidade para uma passada mais macia. É a evolução de um favorito com design ventilado, feito com pelo menos 20% de conteúdo reciclado por peso.</p>
                
                <h2>
                    Design simples</h2>
                
                <p>A tela macia é colocada no antepé e ao longo da boca para uma sensação de conforto. Os revestimentos adicionais acrescentam durabilidade.</p>
                
                <h2>Mais flexibilidade</h2>

                <p>Uma entressola de espuma oferece uma passada mais suave que a do Revolution 5. A sola tem um design computadorizado que cria um efeito natural de pistão enquanto você corre, garantindo mais amortecimento e flexibilidade. Elas se combinam para uma tração durável.</p>
                
                <h2>Toque intuitivo</h2>
                <p>Os pontos de toque no calcanhar e na língua criam uma sensação natural ao calçar e remover o tênis.</p>
        
            </p>
</aside>
</div>
{%endblock%}
</BODY>
</HTML>